{% include 'navigation.html' %}



<form action="" method="post" style="color:black; font-size:20px; font-weight:bold;">
    {% csrf_token %}
    <center><h1 style="font-family:mv boli; margin-top:10px;color:black;font-weight:bold;color:white;">Contact Us</h1></center>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 mt-3" style="border: 5px solid white;border-radius:25px;padding:20px;color:darkblack; background:lightgrey;">
                <label>Full Name</label>
                <input type="text" class="form-control" name="fname" placeholder="Enter Name">
                <label>Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Enter email">
                <label>Contact Number:</label>
                <input type="text" class="form-control" name="mobile" placeholder="Enter contact no.">
                <label>Purpose</label>
                <input type="text" class="form-control" name="comment" placeholder="Comment..">
                <center>
                    <a href="{% url 'index' %}" class="btn btn-secondary btn-lg mt-3">Cancel</a><input type="submit" class="btn btn-primary btn-lg mt-3">
                </center>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>

{% if error == "no" %}
<script>
    alert("Contact Detail Submitted Successfully")
    window.location = ('{% url 'index' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something Wrong, Try Again...")
    window.location=('{% url 'contact_us' %}')
</script>
{% endif %}

{% include 'footer.html' %}