{% load static %}
{% include 'navigation.html' %}


<div class="container">
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
<form class="container mt-10 mb-5" method="post" name="forgotpass" onsubmit="return checkpass()" style="border:3px solid white;margin:50px;font-size:20px;background:lightgrey;">
     {% csrf_token %}
    <br><center><h2>Forgot Your Password?</h2></center><br>
    <label>Username:</label>
    <input type="text" class="form-control" name="usernm" required="true">
   <div>
       <a href="{% url 'reset_password' %}" class="btn btn-warning btn-sm form-control mt-3 mb-3">Forgot Password</a></div>
        <center><div ><a href="{% url 'login' %}">Back to Login</a></div>
</form>
    </div>
    <div class="col-4">
    </div>
</div>
</div>

{% if error == "no" %}
<script>
    alert("Now Reset Your Password")
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong")
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Username is not corrects")
</script>
{% endif %}