{% load static %}
{% include 'navigation.html'%}


<script>
    function checkpass()
    {
    if(document.resetpassword.newpassword.value!=document.resetpassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.resetpassword.newpassword.focus();
    return false;
    }
    return true;
    }
</script>
<div class="container">
<div class="row">
     <div class="col-4"></div>
     <div class="col-4">
<form class="container mt-5" method="post" name="resetpassword" onsubmit="return checkpass()" style="border:3px solid white;background:lightgrey;color:black; font-size:18px;">
    {% csrf_token %}
    <center><h2>Reset Password</h2></center>
    <label>Password:</label>
    <input type="password" class="form-control" name="newpassword" required="true">

    <label>Confirm Password:</label>
    <input type="password" class="form-control" name="confirmpassword" required="true">
<center><div>
    <input type="submit" value=" Reset " class="btn btn-warning btn-sm form-control mt-3 mb-3">
</center></form>

</form>
         </div>
     <div class="col-4"></div>
 </div>
{% if error == "no" %}
<script>
    alert("Password Changed Successfully")
    window.location = ('{% url 'Logout' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again")
</script>
{% endif %}



